.header {
	position: relative;
	z-index: 1;
	box-shadow: 0px -2px 15px 2px black;
	@apply bg-main flex justify-around md:h-16 h-12 gap-4 drop-shadow-2xl;
}

.burger {
	@apply flex;
}

//BURGERBEGIN

.header__burger_hidden {
	@apply underline top-12 w-full h-0 left-0 fixed ease-out duration-200;

	li > a {
		@apply underline  hidden  ease-in-out  duration-300;
	}
}

.header__burger_visible {
	box-shadow: 0px 0px 20px 0px black;
	@apply bg-secondary underline leading-6 fixed inline-block top-12 w-full   md:top-16 h-36 left-0 px-5 ease-out duration-200 md:h-56;
	li {
		@apply flex md:my-1;
	}
	a {
		color: white;
		text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),
			0px -5px 35px rgba(255, 255, 255, 0.3);

		@apply hover:p-1 hover:text-main ease-in-out duration-200 my-1.5 underline inline-block mx-auto hover:cursor-pointer font-bold align-middle md:text-2xl;
	}
}
// BURGEREND

//LOGINBEGIN
.header__login_hidden {
	@apply underline top-12 w-full h-0 left-0 fixed ease-out duration-200;
	label {
		@apply hidden;
	}
	input {
		@apply hidden;
	}
	span {
		@apply hidden;
	}
	button {
		@apply hidden;
	}
	h1 {
		@apply hidden;
	}
}

.header__login_visible {
	box-shadow: 0px 0px 20px 0px black;
	@apply bg-secondary leading-6 fixed inline-block top-12 w-full h-48 left-0 px-5 ease-out duration-200 md:h-56;
	form {
		@apply flex flex-col md:my-5 my-2;
		label {
			@apply mx-auto;
		}
		input {
			@apply p-1 my-2 w-40 mx-auto rounded-md focus:border-r-8 focus:border-x-main focus:rounded-lg;
		}
		button {
			@apply my-2 h-8 w-40 mx-auto rounded-md hover:cursor-pointer hover:bg-text bg-detail;
		}
		span {
			font-size: 0.8rem;
			line-height: 0.5rem;
			text-color: red;
			@apply mx-auto  p-0 m-0;
		}
		h1 {
			@apply mx-auto text-xl;
		}
	}
}

//LOGINEND

.header__form_desktop {
	@apply hidden md:flex;
}

.header__desktop_ul {
	@apply hidden md:flex;
}

.header__logo {
	@apply block;
}

.burger__div {
	position: relative;
	.burger__one {
		&:before {
			background: #000;
			content: "";
			position: absolute;
			top: 10px;
			left: 0;
			width: 60px;
			height: 6px;
			border-radius: 20px;
		}
		&:after {
			background: #000;
			content: "";
			position: absolute;
			left: 0;
			top: 20px;
			width: 40px;
			height: 6px;
			border-radius: 20px;
		}
	}

	.burger__one {
		&:before {
			background: #000;
			content: "";
			position: absolute;
			top: 30px;
			left: 0;
			width: 20px;
			height: 6px;
			border-radius: 20px;
		}
	}
}
